/* put your css code here */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#categoryName {
        text-align: center;
}

#category {
    border: none;
}

.categoryThumbnail {
    border: none;
    width: 342px;
    height: 246.75px;
}

#header {
	margin-top: 140px;
}

.category {
	max-height: 200px;
}

.animals {
	max-height: 240px;
}

#description {
	text-align: center;
}

#animalDescription {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}


.model_description {
font-size: 15px;
}

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}

.model {
display: none;
}


.footer .text-muted {
  margin: 20px 0;
  text-align: right;
}

.nameinmodal {
	text-align: center;
	text-transform: capitalize;
}


.jumbotron {
    margin-top: 5px;
    text-align: center;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}


h1 {

    font-family: 'Chicle', Arial, serif; font-weight: 800;
}

ul nav,h2,h3, h4,h5 {
    font-family: 'Neuton', serif;
}

.h4 {
    font-size: 200px;
}

.animalsThumbnail {
        border: none;
        font-size: 20px;
}

.searchText {
    padding-left: 50px;
}
